@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 80% 20%;

    --card: 0 0% 100%;
    --card-foreground: 220 80% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 80% 20%;

    --primary: 217 100% 56%;
    /* #257BFF */
    --primary-foreground: 0 0% 100%;
    --primary-light: 217 100% 92%;

    --secondary: 133 81% 45%;
    /* #18DC22 */
    --secondary-foreground: 0 0% 100%;
    --secondary-light: 133 81% 92%;

    --muted: 217 100% 97%;
    --muted-foreground: 220 20% 50%;

    --accent: 133 81% 45%;
    /* #18DC22 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 217 100% 97%;

    --border: 217 100% 90%;
    --input: 217 100% 90%;
    --ring: 217 100% 56%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 220 80% 20%;
    --sidebar-primary: 217 100% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 133 81% 45%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 100% 90%;
    --sidebar-ring: 133 81% 45%;
  }

  .dark {
    --background: 220 80% 10%;
    --foreground: 0 0% 100%;

    --card: 220 80% 12%;
    --card-foreground: 0 0% 100%;

    --popover: 220 80% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 217 100% 66%;
    --primary-foreground: 220 80% 10%;
    --primary-light: 217 100% 30%;

    --secondary: 133 81% 55%;
    --secondary-foreground: 220 80% 10%;
    --secondary-light: 133 81% 30%;

    --muted: 217 100% 18%;
    --muted-foreground: 133 20% 70%;

    --accent: 133 81% 55%;
    --accent-foreground: 220 80% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 100% 22%;
    --input: 217 100% 22%;
    --ring: 133 81% 45%;
    --sidebar-background: 220 80% 10%;
    --sidebar-foreground: 133 20% 90%;
    --sidebar-primary: 217 100% 66%;
    --sidebar-primary-foreground: 220 80% 10%;
    --sidebar-accent: 133 81% 55%;
    --sidebar-accent-foreground: 220 80% 10%;
    --sidebar-border: 217 100% 22%;
    --sidebar-ring: 133 81% 45%;
  }
}

@layer base {
  * {}

  body {
    @apply bg-background text-foreground;
  }
}